---
import PostLink from "../../components/post-link.astro";
import Base from "../../layouts/base.astro";

const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));
---

<Base pageTitle="Blog">
  <h1>Our Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map(({ url, frontmatter }: any) => {
        return (
          <li>
            <PostLink url={url} frontmatter={frontmatter}>
              {frontmatter.title}
            </PostLink>
          </li>
        );
      })
    }
  </ul>
</Base>
