---
import { getCollection } from "astro:content";
import PostLink from "../../components/post-link.astro";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueTags = [...new Set(allPosts.map(({ data }) => data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter(({ data }) =>
      data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map(({ id, data }) => (
        <li>
          <PostLink url={`/blog/${id}`} frontmatter={data} />
        </li>
      ))
    }
  </ul>
</Base>
