---
import Hamburger from "./hamburger.astro";
---

<nav>
  <a href="/">LOGO</a>
  <Hamburger />

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </div>
</nav>
